<section class="contact-page-section">
    <div class="container">
        <div class="sec-title">
            <div class="title">Contact Us</div>
              <h2>Let's Get in Touch.</h2>
          </div>
          <div class="inner-container">
            <div class="row clearfix">
              
                <!--Form Column-->
                  <div class="form-column col-sm-12 col-xs-12">
                    <div class="inner-column">
                        
                          <!--Contact Form-->
                          <div class="contact-form">
                              <form method="post" action="sendemail.php" id="contact-form">
                                  <div class="row clearfix">
                                      <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                          <input type="text" name="name" value="" placeholder="Name" required>
                                      </div>
                                      <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                          <input type="email" name="email" value="" placeholder="Email" required>
                                      </div>
                                      <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                          <input type="text" name="subject" value="" placeholder="Subject" required>
                                      </div>
                                      <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                          <input type="text" name="phone" value="" placeholder="Phone" required>
                                      </div>
                                      <div class="form-group col-md-12 col-sm-12 co-xs-12">
                                          <textarea name="message" placeholder="Massage"></textarea>
                                      </div>
                                      <div class="form-group col-md-12 col-sm-12 co-xs-12" style="text-align: center;">
                                          <button type="submit" class="theme-btn btn-style-one">Send Now</button>
                                      </div>
                                  </div>
                              </form>
                          </div>
                          <!--End Contact Form-->
                          
                      </div>
                  </div>
                  
              </div>
          </div>
      </div>
  </section>



  <section id="contact">
    <div class="container">
        <h4>cantact us</h4>
        <p>451 awenve 5th street new york city</p>
        <p>+ (42) 442 4521</p>
        <p>info.fashiongmail.com</p>
        <p class="email">emailus <span><img src="https://res.cloudinary.com/de8cuyd0n/image/upload/v1520412541/E-commerce%20landing%20page/icons/get_in_touch_1x.png" alt="email-image"></span></p>
    </div>
</section>